alembic==1.0.5
atomicwrites==1.2.1
attrs==18.2.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
certifi==2018.8.24
chardet==3.0.4
Click==7.0
coverage==4.5.2
cycler==0.10.0
dash==0.28.5
dash-core-components==0.35.0
dash-html-components==0.13.2
dash-renderer==0.14.3
dash.ly==0.17.3
decorator==4.3.0
Django==2.1.2
# Editable install with no version control (Flask==1.0.2)
-e /Users/apexcure/Dev/lib/python3.7/site-packages
Flask-Compress==1.4.0
Flask-MySQLdb==0.2.0
Flask-SeaSurf==0.2.2
Flask-Session==0.3.1
Flask-SocketIO==3.3.2
Flask-WTF==0.14.2
flaskr==1.0.0
gunicorn==19.9.0
idna==2.7
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.0.0
more-itertools==4.3.0
mysql-connector==2.1.6
mysqlclient==1.4.1
nbformat==4.4.0
numpy==1.15.2
pandas==0.23.4
passlib==1.7.1
pexpect==4.6.0
plotly==3.3.0
pluggy==0.8.0
psycopg2==2.7.7
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
pyparsing==2.2.1
pytest==4.0.1
python-dateutil==2.7.3
python-editor==1.0.3
python-engineio==3.5.1
python-socketio==3.1.2
pytz==2018.5
requests==2.20.0
retrying==1.3.3
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.17
statsmodels==0.9.0
submit50==2.4.9
termcolor==1.1.0
traitlets==4.3.2
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
